CalendarXamForm/CalendarXamForm/CalendarXamForm.Droid/bin/
CalendarXamForm/CalendarXamForm/CalendarXamForm.Droid/obj/
CalendarXamForm/CalendarXamForm/CalendarXamForm/bin/
CalendarXamForm/CalendarXamForm/CalendarXamForm/obj/
CalendarXamForm/packages/
